.mrChat-contato {
    cursor: pointer;
    margin: 10px;
    font-size: 10px;
}

.mrChat-contato:hover {
    cursor: pointer;
    margin: 10px;
    font-size: 12px;
}


.mrChat-name-icon {
    right: 0;
    cursor: pointer;
    left: 0;
}

.height {
  height: 300px;
  overflow: scroll;
}
